h1 {
  background-color: RGB(38,38,38);
  color: white;
  text-align: center;
  border: 500px;
}
nav {

  color: rgb(254, 254, 254);
  text-align: center;
}
ul {
  list-style: none;
}

ul li {
  display: inline-block;
  background-color: RGB(201,201,201);
}

.Pictures-below{
  background-color: RGB(110, 247, 197);
  font-size: 30px;

}

span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: yellow
}
.pic1 {

  display: inline-block;
  text-align: justify;
}

.row1 {

  display: inline-block;
  text-align: center;
}

.row1 {
    text-align: justify;
    width: 50px;
}

.row1 img {
    display: block;
    margin: 0 auto;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
